.goliath-doc-viewer{
    max-width: 54em;
}

.goliath-doc-viewer img{
    max-width: 100%;
    height: auto;
}

.goliath-doc-viewer ul{
    list-style: disc outside;
    margin-left: 3em;
}
.goliath-doc-viewer blockquote{
    border-left: 5px solid #0073aa;
    padding-left: 1em;
    margin-left: 1em;
}
